<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060922084072-12hbl0ts3gboc8m6oup12hk6s2rfat0g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDofPUw4TbMg4tYi6HSDSj6Qo-7sqG1sU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1060922084072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dueuler.aula</string>
	<key>PROJECT_ID</key>
	<string>dueulerpadrao</string>
	<key>STORAGE_BUCKET</key>
	<string>dueulerpadrao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060922084072:ios:d774b4b4143772463e975d</string>
	<key>DATABASE_URL</key>
	<string>https://dueulerpadrao-default-rtdb.firebaseio.com</string>
</dict>
</plist>